.arrowsContainer{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    opacity: 70%;
    transform: translate(0, -50%);
}
.leftArrowStyles{
    left: 8px;
}
.rightArrowStyles{
    right: 8px;
}